body {
    max-width: 980px;
    margin: auto;
}

.logo {
    font: 12pt sans-serif; 
   } 
   h1 {
    font: 200% serif;
   }
   
h1, p {
    margin: 0;
    padding: 0;
}

header .fire1 {
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header nav h1 {
    font-family: 'Trade Winds';
    font-size: 3rem;
    text-transform: uppercase;
    text-align: left;
    color: red;
}

header nav p {
    font-family: 'Trade Winds';
    text-transform: uppercase;
    text-align: left;
    color: brown
}

header nav .top-menu {
    display: block;
    text-align: right;
    line-height: 1.5;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
    word-spacing: 10px;
}

header nav .top-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
    border: 1px solid transparent;
    padding: 5px;
}

header nav .top-menu {
        flex: 1;
}

header nav {
        display: flex;
    }

header .banner {
    background-image: url(../img/stejk-na-grile.jpg);
    background-position: center;
    background-size: cover;
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


header .banner .title {
    font-size: 3rem;
    font-family: 'Courier New';
    text-transform: uppercase;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    text-align: center;
    margin: 100px 0 0 0;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 40px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

#pronas {
	font-size: 20px;
	height:250px;
	margin: auto;
	padding: 30px;
    font-family: 'Courier New';
    text-align: center;
    margin-bottom: 10px;
}

#galereya {
    font-size: 20px;
	height:50px;
	margin: auto;
	padding: 10px;
    font-family: 'Courier New';
    text-align: center;
    margin-bottom: 10px;
}

.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}